[submodule "layers/poky"]
	path = layers/poky
	url = https://git.yoctoproject.org/git/poky.git
[submodule "layers/meta-openembedded"]
	path = layers/meta-openembedded
	url = http://git.openembedded.org/meta-openembedded
[submodule "layers/meta-qt5"]
	path = layers/meta-qt5
	url = https://github.com/meta-qt5/meta-qt5.git
[submodule "layers/meta-swupdate"]
	path = layers/meta-swupdate
	url = https://github.com/xiaofeng232/meta-swupdate.git
