[Unit]
Description=SWUpdate - Software Update Daemon
After=network.target local-fs.target

[Service]
Type=simple
ExecStart=/usr/bin/swupdate -w "--document-root ./www --port 8080"
Restart=on-failure
RestartSec=3s
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target